<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Détails du produit</h1>
    {% for product_item in product %}
    <div>
        <p><strong>Nom :</strong> {{ product_item.name }}</p>
        <p><strong>Prix :</strong> {{ product_item.price }} €</p>
        <p><strong>Quantité en stock :</strong> {{ product_item.stock }}</p>
    </div>
    <form action="/update_stock/{{ product_item.id }}" method="post">
        <button id="update-stock" {% if product.stock == 0 %}disabled{% endif %}>Retirer une unité</button>
    </form>
    {% endfor %}
</body>
</html>